/*common css end*/
body{
	margin: 0;
	padding: 0;
	font-family: ;
}
/*common css end*/

/*header start*/
header {
	margin-top: 10px;
}

.wrapper {
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
}
.logo {
	/*border: 1px solid;*/
	width: 10%;
	float: left;
	margin-top: 1px;
}
.logo a img{
	width: 100%;
}
.menu {
	margin-top:;
	width: 55%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-size: 20px;
	text-decoration: none;
	display: inline-block;
	padding: 10px 25px;
	color: #0F2656;
	transition: 0.3s;
}
.menu ul li a:hover {
	color: #0280F2;
}
.menu ul li:last-child a{
	padding-right: 0;
}
/*header end*/

/*banner start*/
.banner {
	padding: 40px 0;
}
.wrapper2{
	margin: 0 auto;
	width: 60%;
	overflow: hidden;
}
.b_content{
	text-align: center;
}
.b_span{
	color: #0280F2;
}
.b_h1{
	margin: 0;
	font-size: 65px;
	color: #0F2656;
	line-height: 80px;
}
.b_text {
	margin: 20px 15%;
	color: #0F2656;
	font-size: 20px;
}
.b_img{
	width: 80%;
	margin: 0 auto;
}
.b_img img{
	width: 100%;
	transition: 0.5s;
}
.b_img img:hover{
	transform: scale(.9);
}
/*banner end*/

/*success start*/
.success{
	text-align: center;
}
.s_content{
	padding: 10px 0;
}
.s_left {
	width: 43%;
	float: left;
	text-align: right;
	padding: 0 20px 0 50px;
	margin-top: 5px;
}
.s_h2 h2{
	margin: 0;
	color: #F15767;
	font-size: 55px;
}
.s_text p {
	color: #0F2656;
	line-height: 30px;
	margin: 0px;
	font-size: 20px;
}
.s_right {
	width: 44%;
	float: right;
	text-align: left;
	padding: 0px 61px 0px 15px;
}
.s_h1{}
.s_h1 h1 {
	color: #0F2656;
	font-size: 56px;
	line-height: 70px;
	margin: 0;
}
/*success end*/

/* service start */
.service{
	/*border: 1px solid;*/
	padding: 70px 0;
}
.single {
	padding: 60px 2.7%;
	width: 26%;
	background-color: #FDEBED;
	float: left;
	margin-right: 2.9%;
}
.single:last-child {
	margin-right: 0;
}
.green {
	margin-left: 8%;
}
.white{
	background-color: #EBF9F4;
}
.yellow{
	background-color: #FFF7E8;
}
.single_img img{
	width: 100%;
	transition: 0.3s;
}
.single_img img:hover{
	transform: scale(.8);
}
.single_h2 h2{
	color: #0F2656;
	margin: 0;
	padding: 15px 0;
}
.single_text p {
	color: #0F2656;
	font-size: 20px;
	line-height: 30px;
	margin: 0;
}
/* service end */

/*footer start*/
footer{
	background-color: #008AFF;
	/*border: 1px solid;*/
	padding: 20px 0;
}
.f_text{
	text-align: center;
}
.f_text p {
	color: black;
}
.f_text p strong{
	letter-spacing: 5px;
	color: white;
	/*font-size: 15px;*/
}
/*footer end*/
